In [5]:
import numpy as np
import pandas as pd

In [14]:
myindex = ['USA','Candada','Mexico']

In [15]:
mydata = [1000,2000,3000]

In [16]:
myuser = pd.Series(data=mydata, index=myindex)

In [17]:
myuser

USA        1000
Candada    2000
Mexico     3000
dtype: int64

In [18]:
print(myuser)

USA        1000
Candada    2000
Mexico     3000
dtype: int64

In [21]:
myuser[1]

2000

In [22]:
ages = {'Sam':5, 'frank':8, 'spke':10}
print(ages)

{'Sam': 5, 'frank': 8, 'spke': 10}

In [23]:
pd.Series(ages)

Sam       5
frank     8
spke     10
dtype: int64