In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

In [3]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [4]:
myindex = ['Ca','Ny','Cd','ab']
mycolumns = ['Jan','Feb','Mar']

In [11]:
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)

In [12]:
df

    Jan  Feb  Mar
Ca   95   11   81
Ny   70   63   87
Cd   75    9   77
ab   40    4   63

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Ca to ab
Data columns (total 3 columns):
Jan    4 non-null int32
Feb    4 non-null int32
Mar    4 non-null int32
dtypes: int32(3)
memory usage: 80.0+ bytes